.nav_contents{

}
.nav_logo{

}
.nav_black{
    background-color: #111 ;
    background: linear-gradient(0deg, rgba(255,255,255,0) 44%, rgba(0,0,0,1) 100%);

}

.navbar navbar-expand-lg navbar-dark{
    background-color: linear-gradient(0deg, rgba(255,255,255,0) 44%, rgba(0,0,0,1) 100%);
}
.nav-link{
    color: #ffffffdb;
}